html, body {
    height: 100%;
    width: 100%;
}
#screen {
    height: 480px;
    width: 640px;
}
.dot {
    fill: white;
    stroke: steelblue;
    stroke-width: 1px;
    cursor: pointer;
}
.box {
    fill: white;
    stroke: steelblue;
    stroke-width: 2px;
    cursor: pointer;
}
.link {
    stroke: #21E22D;
    stroke-width: 2px;
}
button {
    height: 2px;
    width: 50px;
    background-color: red;
}
.link_cartesian {
  stroke: rgba(0, 0, 0, 0.1);
  stroke-width: 2px;
}
